body {
    background: url(../images/image1.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.big-title {
    color: aqua;
}

.header {
    text-align: center;
    display: block;
    border-color: cadetblue;
    border-width: 100px;
    box-shadow: -6px 7px 13px 2px #f643d75e;
    padding: 56px;
    margin: 110px;
    text-decoration-color: cornsilk;
}