body {
    background: url(../images/image1.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.big-title {
    color: aqua;
}

.header {
    text-align: center;
    display: block;
    border-color: cadetblue;
    border-width: 100px;
    padding: 56px;
    text-decoration-color: cornsilk;
    background-color: #dfbf0047;
    color: white;
    font-size: 3.5em;
}