body {
    background: url(../images/bglow-8.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
}

.title {
    font-family: 'Cinzel Decorative', cursive;
    font-size: 61px;
    text-align: center;
    font-weight: 100;
    margin-top: 25px;
    margin-bottom: 5px;
}

.intro {

font-size: 14px;
}

body {
    color: white !important;
    margin: 0;
}

.pstn-ab {
    position: absolute;
    z-index: -1;
}


.ball1 {
    bottom: 52px;
    left: 1px;
    width: 27%;
    @keyframes play {
        100% { background-position: -1900px; }
   
     animation: play 0.8s steps(10) infinite;

    }
}

.ball2 {
    top: 542px;
    left: 325px;
    width: 11%;
}

.ball3 {
    top: 92px;
    left: 324px;
    width: 15%;
}

.ball4 {
    top: 99px;
    right: 280px;
    width: 20%;
}

.ball5 {
    top: 303px;
    right: 82px;
    width: 11%;
}

.ball6 {
    top: 472px;
    right: 196px;
    width: 15%;
}

.logo {
    align-items: center;
    display: block;
    margin: auto;
    width: fit-content;
    margin-top: 110px;

}

.pstn-ab {
    position: absolute;
    z-index: -1;
}

p {

    font-family: 'Raleway', sans-serif;
    text-align: center;
    margin-top: 11px;
    margin-bottom: 55px;

}

nav {
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    margin: top;
    padding-top: 1px;
}

a {
    text-decoration: none;
    color: white;
}

nav a {
    padding: 26px 31px;
    width: 118px;
    text-align: center;
    display: inline-block;
}

nav a:hover {
    background: #000328ad;
    text-shadow: white;
    font-size: 13px;
}


.buttonclass {
    display: block;
    text-align: center;
    width: 100px;
    height: 35px;
    margin: auto;
    width: 150px;
    border-radius: 30px;
    border: none;
    color: white;
    font-family: 'Raleway', sans-serif;

    background-image: linear-gradient(-90deg, rgb(46, 50, 109), rgb(67, 60, 180), rgb(46, 50, 109));
}

button {
    background-color: white;
}

button:hover {
    width: 155px;
    background-image: linear-gradient(-90deg, rgb(67, 60, 180), rgb(37, 44, 145), rgb(67, 60, 180));
    color: white;
    font-size: 14px;
}

.social-links {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    text-align: center;
    margin: auto;

}

.social {

width: 2.6%;
}